<header class="site-header">
  <div class="menu-item mini-logo">
    <a class="video" href="#video">
      <img class="mini-logo" src="/uploads/mini-logo.png" alt="">
    </a>
  </div>
  <div class="header-wrapper">
    <div class="menu-item"><a href="#about">About Myndar</a></div>
    <div class="menu-item"><a href="#rfid">About RFID</a></div>
    <div class="menu-item trigger"><span>Retail Solutions</span>
      <ul class="submenu hide">
        <li class="submenu-item"><a href="#visibility"><em>Imagine</em> Product Visibility</a></li>
        <li class="submenu-item"><a href="#inventory"><em>Imagine</em> Instant Inventory</a></li>
        <li class="submenu-item"><a href="#data"><em>Imagine</em> Real-time Data</a></li>
      </ul>
    </div>
    <div class="menu-item"><a href="#awards">Awards</a></div>
    <div class="menu-item"><a href="#contact">Contact</a></div>
  </div>
</header>


<!-- $('#submenu').click( function(event){
    event.stopPropagation();
    $('#drop').toggle();
});

$(document).click( function(){
    $('#drop').hide();
}); -->