<header class="site-header">
  <div class="menu-item mini-logo">
    <a class="video" href="#video">
      <img class="mini-logo" src="/uploads/mini-logo.png" alt="">
    </a>
  </div>
  <div class="header-wrapper">
    <div class="menu-item"><a href="#about">About <span class="hide">Myndar</span><span class="hidelarge">Us</span></a></div>
    <div class="menu-item"><a href="#rfid"><span class="hide">About </span>RFID</a></div>
    <div class="menu-item trigger"><span class="link"><span class="hide">Retail </span>Solutions</span>
      <ul class="submenu hide">
        <li class="submenu-item"><a href="#visibility"><em>Imagine</em> Product Visibility</a></li>
        <li class="submenu-item"><a href="#inventory"><em>Imagine</em> Instant Inventory</a></li>
        <li class="submenu-item"><a href="#data"><em>Imagine</em> Real-time Data</a></li>
      </ul>
    </div>
    <div class="menu-item"><a href="#awards">Awards</a></div>
    <div class="menu-item"><a href="#contact">Contact</a></div>
  </div>
</header>

