<header class="site-header">

  <div class="menu-item trigger"><a href="">Retail Solutions</a>
    <ul class="submenu">
      <li class="submenu-item"><a href="#realtime">Real-Time Inventory &amp; Efficiency</a></li>
      <li class="submenu-item"><a href="visibility">Visibility With Product Movement &amp; Performance</a></li>
      <li class="submenu-item"><a href="accuracy">Accuracy In Inventory Processing</a></li>
    </ul>
  </div>
  <div class="menu-item"><a href="#about">About Myndar</a></div>
  <div class="menu-item"><a href="#rfid">About RFID</a></div>
  <div class="menu-item"><a href="">Awards</a></div>
  <div class="menu-item"><a href="">Contact</a></div>

</header>
