// suppress warnings about bourbon 5
// $output-bourbon-deprecation-warnings: false;

// base
@import
  "node_modules/normalize.scss/normalize",
  "vars",
  "modules/header",
  "neat/neat";

// modules
@import
  "modules/common";

html {
  font-family: 'Maven Pro', sans-serif;
}

body {
}

.brand {
  text-align: center;
}

.grid-container {
  // @include grid-visual();
  max-width: 1200px;
  margin: 0 auto;
  @include grid-container;
  .grid-column {
    @include grid-column(12);
  }
}

.logo-wrapper {
  text-align: center;
  padding: 2rem 0;
}

.logo {
  margin: 8rem auto 0;
  width: 500px;
}


.filler {
  height: 150vh;
}
