// suppress warnings about bourbon 5
// $output-bourbon-deprecation-warnings: false;

// base
@import
  "node_modules/normalize.scss/normalize",
  "vars",
  "modules/animate",
  "modules/header",
  "neat/neat";

// modules
@import
  "modules/common";

html {
  font-family: 'Maven Pro', sans-serif;
}

body {
}

.page-content {
  padding-bottom: 6rem;
}

section#brand {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100vh;
  background: url('/uploads/3-rings.jpg') no-repeat;
  background-position: bottom;
  background-size: contain;
  background: -moz-linear-gradient(-45deg, rgba(135,118,80,0.2) 0%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.11) 78%, rgba(135,118,80,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(135,118,80,0.2) 0%,rgba(255,255,255,0.1) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.11) 78%,rgba(135,118,80,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(135,118,80,0.2) 0%,rgba(255,255,255,0.1) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.11) 78%,rgba(135,118,80,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33877650', endColorstr='#33877650',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



section#arrow {
  text-align: center;
  margin-top: -8rem;
  i {
    margin-left: -.5rem;
    color: $light-gray;
    font-size: 4rem;
  }
}

// #brand i {
//   position: absolute;
//   bottom: 4rem;
//   margin-left: -1rem;
//   color: $light-gray;
//   font-size: 4rem;
// }

.grid-container {
  // @include grid-visual();
  max-width: 1200px;
  margin: 0 auto;
  @include grid-container;
  .grid-column {
    @include grid-column(12);
  }
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 4rem;
}

.logo {
  width: 50vw;
  position: relative;
  z-index: 1;
}

h1.intro {
  font-weight: normal;
  text-transform: uppercase;
  color: $light-gray;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: .2em
}

h2.intro {
  font-weight: normal;
  color: $light-gray;
  letter-spacing: 1px;
  margin: 0;
}

section#about {
  margin-top: 10rem;
  .grid-column {
    // border: 1px solid rgba(150,150,150,0.6);
    box-shadow: 3px 3px 18px 0px rgba(150,150,150,0.8);
  }
  .image {
    height: 700px;
    background: url('/uploads/about.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-color: rgba(255,255,255,0.8);
    }
    .info-wrapper {
      color: $gray;
      padding: 2rem;
      h2.headline {
        font-size: 65px;
        margin: 0;
        font-weight: 500;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 1rem;
        color: $gold;
      }
      h3.subhead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1rem;
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
    }
  }
}

section#rfid {
  margin-top: 10rem;
  .grid-column {
    // border: 1px solid rgba(150,150,150,0.6);
    box-shadow: 3px 3px 18px 0px rgba(150,150,150,0.8);
  }
  .image {
    height: 700px;
    background: url('/uploads/rfid.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      background-color: rgba(135, 118, 80, 0.5);
    }
    .info-wrapper {
      color: $gray;
      padding: 2rem;
      h2.headline {
        font-size: 65px;
        margin: 0;
        font-weight: 500;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
      }
      h3.subhead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1rem;
        span {
          font-weight: 700;
        }
      }
      p, ul {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
      ul {
        line-height: 1.8;
      }
    }
  }
}

section#realtime {
  margin-top: 10rem;
  .grid-column {
    // border: 1px solid rgba(150,150,150,0.6);
    box-shadow: 3px 3px 18px 0px rgba(150,150,150,0.8);
  }
  .image {
    height: 700px;
    background: url('/uploads/mhand.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-color: rgba(135, 118, 80, 0.5);
    }
    .info-wrapper {
      color: $gray;
      padding: 2rem;
      h2.headline {
        font-size: 65px;
        margin: 0;
        font-weight: 500;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
      }
      h3.subhead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1rem;
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
    }
  }
}

section#visibility {
  margin-top: 10rem;
  .grid-column {
    // border: 1px solid rgba(150,150,150,0.6);
    box-shadow: 3px 3px 18px 0px rgba(150,150,150,0.8);
  }
  .image {
    height: 700px;
    background: url('/uploads/mtray.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      background-color: rgba(255,255,255,0.8);
    }
    .info-wrapper {
      color: $gray;
      padding: 2rem;
      h2.headline {
        font-size: 65px;
        margin: 0;
        font-weight: 500;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 1rem;
        color: $gold;
      }
      h3.subhead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1rem;
        span {
          font-weight: 700;
        }
      }
      p, ul {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
      ul {
        line-height: 1.8;
      }
    }
  }
}

section#accuracy {
  margin-top: 10rem;
  .grid-column {
    // border: 1px solid rgba(150,150,150,0.6);
    box-shadow: 3px 3px 18px 0px rgba(150,150,150,0.8);
  }
  .image {
    height: 700px;
    background: url('/uploads/mlog.jpg') no-repeat;
    background-size: cover;
    position: relative;
    .info {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-color: rgba(255,255,255,0.8);
    }
    .info-wrapper {
      color: $gray;
      padding: 2rem;
      h2.headline {
        font-size: 65px;
        margin: 0;
        font-weight: 500;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 1rem;
        color: $gold;
      }
      h3.subhead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1rem;
        span {
          font-weight: 700;
        }
      }
      p, ul {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
      ul {
        line-height: 1.8;
      }
    }
  }
}

.filler {
  // background-color: cornsilk;
  height: 150vh;
}
