@import "../vars";

  header {
    .header-wrapper {
      transition: all 0.3s ease;
      display: inline-block;
      margin-left: -100px;
    }

    &.scrolled {
      .header-wrapper {
        transition: all 0.3s ease;
        margin-left: 0px;
      }
      div.mini-logo {
        transition: all 0.3s ease;
        visibility: visible !important;
        opacity: 1 !important;
        a {
          display: block;
          padding: 0;
        }
      }
    }
    div.mini-logo {
      transition: all 0.3s ease;
      visibility: hidden;
      opacity: 0;
      height: 100%;
      a {
        display: block;
        padding: 0;
      }
      img.mini-logo {
        display: inline;
        max-width: 90px;
        vertical-align: middle;
      }
    }

    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    // font-size: 14px;
    // border-bottom: 1px solid #eee;
    box-shadow: 2px 2px 3px 0px rgba(37, 40, 42, 0.5);
    background-color: $gold;
    a {
      color: white;
      text-decoration: none;
    }
    .menu-item {
      display: inline-block;
      position: relative;
      em {
        font-style: italic;
      }
      a {
        transition: all 0.2s ease;
        display: inline-block;
        padding: 2rem 1rem;
      }
      // a:hover {
      //   transition: all 0.2s ease;
      //   background-color: $gold;
      //   color: $gray;
      // }
    }

    .submenu {
      position: absolute;
      top: 82px;
      left: -1.25em;
      list-style: none;
      background-color: $gold;
      text-align: center;
      padding: 0;
      margin: 0;
      // border: 1px solid #ccc;
      border-top: none;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    }
    .submenu.hide {
      display: none;
    }
    .submenu.show {
      display: block;
    }
    // .trigger:hover .submenu {
    //   display: block;
    // }
    .submenu-item {
      display: block;
      text-align: center;
      width: 250px;
      line-height: 1.6;
      a {
        transition: all 0.2s ease;
        background-color: $gold;
        color: white;
        padding: 2rem 1.5rem;
      }
      a:hover {
        transition: all 0.2s ease;
        // background-color: $gray;
        color: $gray;
      }
    }

  }





