.site-header {
  position: fixed;
  left: 0;
  right: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  box-shadow: 2px 2px 3px 0px rgba(238,238,238,0.5);
  background-color: #FFF;
  a {
    color: $text;
    text-decoration: none;
  }
  .menu-item {
    display: inline-block;
    a {
      display: inline-block;
      padding: 2rem 1rem;
    }
  }
  .submenu {
    display: none;
  }
  .submenu-item {
    display: none;
  }
}