section.header-video {
  margin-top: 82px;
  text-align: center;
  position: relative;
  overflow: hidden;
  clear: both;
  min-height: 350px;
  max-height: calc(100vh - 82px);
  img {
    height: 100% !important;
    position: absolute;
    right: 0;
  }
  iframe,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  video {
    width: 100%;
  }

  .full-height {
    height: 100%;
  }

  .header-video__teaser-video {
    @include breakpoint(768px) {
      width: 100%;
      height: auto;
    }
  }

  .header-video__media {
    @include breakpoint(768px) {
      width: 100%;
      height: auto;
    }
  }

  .grid-container {
  }

  .video-headline {
    // @include grid-media($sm-grid) {
    //   @include grid-column(6 of 8);
    // }
    // @include grid-media($lg-grid) {
    //   @include grid-column(8 of 16);
    //   @include grid-push(1 of 16);
    // }
    // @include grid-media($xl-grid) {
    //   @include grid-column(6 of 16);
    //   @include grid-push(1 of 16);
    //   max-width: 40% !important;
    // }
    p {
      margin: 0;
    }
    @include breakpoint(300px, 374px) {
      @include vertical-align(absolute);
      font-size: 28px;
      line-height: 1.1;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
      a {
        display: block;
        text-decoration: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
    @include breakpoint(375px, 700px) {
      @include vertical-align(absolute);
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
      a {
        display: block;
        text-decoration: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
    @include breakpoint(701px) {
      @include vertical-align(absolute);
      font-size: 63px;
      line-height: 1;
      letter-spacing: 2px;
      color: #FFFFFF;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
      a {
        display: block;
        text-decoration: none;
        padding: 0 3rem 3rem 0;
        &:hover {
          background-color: transparent;
        }
      }
    }

    span {
      transition: all 0.3s ease;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 2px;
      font-size: 18px;
      line-height: 1.16;
      padding-bottom: 2px;
      border-bottom: 1px solid red;
      &:hover {
        color: red;
        border-bottom: 1px solid transparent;
      }
    }
  }

  .header-video__close-trigger {
    z-index: 99;
    position: absolute;
    background-color: rgba(0,0,0, .2);
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    padding: .5rem 1rem;
    right: 30px;
    top: 60px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    border: none;
    text-transform: uppercase;
  }
  .header-video__close-trigger:hover {
    background-color: rgba(0,0,0, .4);
    cursor: pointer;
  }

  .content-wrapper {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  // styles from #brand
  .logo {
    width: 40vw;
    height: auto;
    position: relative;
    z-index: 1;
  }

  h1.intro {
    font-weight: normal;
    text-transform: uppercase;
    color: #a45e43;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: .2em
  }

  h2.intro {
    font-weight: normal;
    color: #a45e43;
    letter-spacing: 1px;
    margin: 0;
  }

  img.header-video__play-trigger {
    width: 65px;
    height: auto;
    position: relative;
    margin-top: 3rem
  }
  img.header-video__play-trigger:hover {
    cursor: pointer;
  }

}